# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Dota2-Overlay-Internal/v16/.suo
.vs/Dota2-Overlay-Internal/v16/Browse.VC.db
.vs/Dota2-Overlay-Internal/v16/Browse.VC.db-shm
.vs/Dota2-Overlay-Internal/v16/Browse.VC.db-wal
.vs/Dota2-Overlay-Internal/v16/Browse.VC.opendb
.vs/Dota2-Overlay-Internal/v16/ipch/7f0323ba9c7fc217.ipch
Dota2-Overlay-Internal/x64/Release/Dota2-Ov.4f4a4841.tlog/CL.command.1.tlog
Dota2-Overlay-Internal/x64/Release/Dota2-Ov.4f4a4841.tlog/CL.read.1.tlog
Dota2-Overlay-Internal/x64/Release/Dota2-Ov.4f4a4841.tlog/CL.write.1.tlog
Dota2-Overlay-Internal/x64/Release/Dota2-Ov.4f4a4841.tlog/Dota2-Overlay-Internal.lastbuildstate
Dota2-Overlay-Internal/x64/Release/Dota2-Ov.4f4a4841.tlog/Dota2-Overlay-Internal.write.1u.tlog
Dota2-Overlay-Internal/x64/Release/Dota2-Ov.4f4a4841.tlog/link.command.1.tlog
Dota2-Overlay-Internal/x64/Release/Dota2-Ov.4f4a4841.tlog/link.read.1.tlog
Dota2-Overlay-Internal/x64/Release/Dota2-Ov.4f4a4841.tlog/link.write.1.tlog
Dota2-Overlay-Internal/x64/Release/Dota2-Overlay-Internal.log
Dota2-Overlay-Internal/x64/Release/vc142.pdb
x64/Release/Dota2-Overlay-Internal.iobj
x64/Release/Dota2-Overlay-Internal.ipdb
x64/Release/Dota2-Overlay-Internal.pdb
